.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}
.links-container{
  margin: 2px;
  display: flex;
  text-align: center;
}

.sign-in-link{
  margin: auto;
  padding: 5px;

}

