.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}
.links-container{
  margin: 2px;
  display: flex;
}
.nav-link{
  margin: 10px;
}
.sign-in-link{
  margin: 10px;
}