.parent{
  display: grid;
  grid-template-columns:100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  position: relative;
  left: 75%;
  bottom: 0%;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.parent div {
  background-color: wheat;
  padding-top: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

